<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="header::head"></head>
<body>
  <!--header-->
  <div class="header" th:include="header::header"></div>
	<div class="container">
		<div class="check-out">
    	    <h4 class="title">购物车是空的</h4>
    	    <p class="cart">您的购物车中没有商品.<br>点击<a href="index.html" th:href="@{/page/index}"> 这里</a> 继续购物</p>
    	</div>
	</div>
  <div class="footer" th:include="header::footer"></div>
</body>
</html>