<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="header::head"></head>
<body>
  <!--header-->
  <div class="header" th:include="header::header"></div>
  <div class="container">
			<div class="contact">
			<h2 class=" contact-in">联系我们</h2>
				
				<div class="col-md-6 contact-top">
					<h3>信息</h3>
					<div class="map">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d37494223.23909492!2d103!3d55!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x453c569a896724fb%3A0x1409fdf86611f613!2sRussia!5e0!3m2!1sen!2sin!4v1415776049771"></iframe>
					</div>
					
					<p> </p>
					<p> </p>				
					<ul class="social ">
						<li><span><i > </i>中北大学 </span></li>
						<li><span><i class="down"> </i>18135247181</span></li>
						<li><a href="mailto:info@example.com"><i class="mes"> </i>765108648@qq.com</a></li>
					</ul>
				</div>
				<div class="col-md-6 contact-top">
					<h3>想加入我们吗？</h3>
						<form>
						<div>
							<span>你的名字 </span>		
							<input type="text" value="" >						
						</div>
						<div>
							<span>电子邮件 </span>		
							<input type="text" value="" >						
						</div>
						<div>
							<span>主题</span>		
							<input type="text" value="" >	
						</div>
						<div>
							<span>你的信息</span>		
							<textarea> </textarea>	
						</div>
						<input type="submit" value="发送" >	
						</form>
				</div>
			<div class="clearfix"> </div>
		</div>
	</div>
  <div class="footer" th:include="header::footer"></div>
</body>
</html>