<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="header::head"></head>
<body>
<!--header-->
<div class="header" th:include="header::header"></div>
<div class="container">
		<div class="account">
			<h2 class="account-in">账户</h2>
			<form th:action="@{/user/login}" th:method="post">
					<div>
						<span>用户名</span>
						<input type="text" name="username" id="username" />
					</div>
					<div>
						<span class="word">密码</span>
						<input type="password" name="password" id="password" />
					</div>
					<div>
						<input id="submit_btn" type="submit" value="登录"/>
					</div>
			</form>
		</div>
	</div>
  <div class="footer" th:include="header::footer"></div>
</body>
</html>