<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="header::head"></head>
<body>
<div class="header" th:include="header::header"></div>
<div class="container">
    <div class="products">
        <h2 class=" products-in">产品</h2>
        <div class=" top-products">
            <div class="col-md-3 md-col">
                <div class="col-md">
                    <a href="single.html" th:href="@{/page/single}" class="compare-in"><img src="../static/images/pic.jpg" alt=""/>
                        <div class="compare">
                            <span>Add to Compare</span>
                            <span>Add to Wishlist</span>
                        </div>
                    </a>
                    <div class="top-content">
                        <h5><a href="single.html" th:href="@{/page/single}">Popular belief</a></h5>
                        <div class="white">
                            <a href="single.html" th:href="@{/page/single}" class="hvr-shutter-in-vertical hvr-shutter-in-vertical2">添加到购物车</a>
                            <p class="dollar"><span class="in-dollar">$</span><span>2</span><span>0</span></p>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 md-col">
                <div class="col-md">
                    <a href="single.html" th:href="@{/page/single}" class="compare-in"><img src="../static/images/pic1.jpg" alt=""/>
                        <div class="compare">
                            <span>Add to Compare</span>
                            <span>Add to Wishlist</span>
                        </div>
                    </a>
                    <div class="top-content">
                        <h5><a href="single.html" th:href="@{/page/single}">Simply random</a></h5>
                        <div class="white">
                            <a href="single.html" th:href="@{/page/single}" class="hvr-shutter-in-vertical hvr-shutter-in-vertical2">添加到购物车</a>
                            <p class="dollar"><span class="in-dollar">$</span><span>6</span><span>0</span></p>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 md-col">
                <div class="col-md">
                    <a href="single.html" th:href="@{/page/single}" class="compare-in"><img src="../static/images/pic2.jpg" alt=""/>
                        <div class="compare">
                            <span>Add to Compare</span>
                            <span>Add to Wishlist</span>
                        </div>
                    </a>
                    <div class="top-content">
                        <h5><a href="single.html" th:href="@{/page/single}">Classical Latin</a></h5>
                        <div class="white">
                            <a href="single.html" th:href="@{/page/single}" class="hvr-shutter-in-vertical hvr-shutter-in-vertical2">添加到购物车</a>
                            <p class="dollar"><span class="in-dollar">$</span><span>1</span><span>5</span></p>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 md-col">
                <div class="col-md">
                    <a href="single.html" th:href="@{/page/single}" class="compare-in"><img src="../static/images/pic3.jpg" alt=""/>
                        <div class="compare">
                            <span>Add to Compare</span>
                            <span>Add to Wishlist</span>
                        </div>
                    </a>
                    <div class="top-content">
                        <h5><a href="single.html" th:href="@{/page/single}">Standard chunk</a></h5>
                        <div class="white">
                            <a href="single.html" th:href="@{/page/single}" class="hvr-shutter-in-vertical hvr-shutter-in-vertical2">添加到购物车</a>
                            <p class="dollar"><span class="in-dollar">$</span><span>4</span><span>0</span></p>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class=" top-products">
            <div class="col-md-3 md-col">
                <div class="col-md">
                    <a href="single.html" th:href="@{/page/single}" class="compare-in"><img src="../static/images/pic4.jpg" alt=""/>
                        <div class="compare">
                            <span>Add to Compare</span>
                            <span>Add to Wishlist</span>
                        </div>
                    </a>
                    <div class="top-content">
                        <h5><a href="single.html" th:href="@{/page/single}">Simply random</a></h5>
                        <div class="white">
                            <a href="single.html" th:href="@{/page/single}" class="hvr-shutter-in-vertical hvr-shutter-in-vertical2">添加到购物车</a>
                            <p class="dollar"><span class="in-dollar">$</span><span>2</span><span>5</span></p>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 md-col">
                <div class="col-md">
                    <a href="single.html" th:href="@{/page/single}" class="compare-in"><img src="../static/images/pic5.jpg" alt=""/>
                        <div class="compare">
                            <span>Add to Compare</span>
                            <span>Add to Wishlist</span>
                        </div>
                    </a>
                    <div class="top-content">
                        <h5><a href="single.html" th:href="@{/page/single}">Popular belief</a></h5>
                        <div class="white">
                            <a href="single.html" th:href="@{/page/single}" class="hvr-shutter-in-vertical hvr-shutter-in-vertical2">添加到购物车</a>
                            <p class="dollar"><span class="in-dollar">$</span><span>5</span><span>5</span></p>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 md-col">
                <div class="col-md ">
                    <a href="single.html" th:href="@{/page/single}" class="compare-in"><img src="../static/images/pic6.jpg" alt=""/>
                        <div class="compare">
                            <span>Add to Compare</span>
                            <span>Add to Wishlist</span>
                        </div>
                    </a>
                    <div class="top-content">
                        <h5><a href="single.html" th:href="@{/page/single}">Classical Latin</a></h5>
                        <div class="white">
                            <a href="single.html" th:href="@{/page/single}" class="hvr-shutter-in-vertical hvr-shutter-in-vertical2">添加到购物车</a>
                            <p class="dollar"><span class="in-dollar">$</span><span>3</span><span>0</span></p>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 md-col">
                <div class="col-md ">
                    <a href="single.html" th:href="@{/page/single}" class="compare-in"><img src="../static/images/pic7.jpg" alt=""/>
                        <div class="compare">
                            <span>Add to Compare</span>
                            <span>Add to Wishlist</span>
                        </div>
                    </a>
                    <div class="top-content">
                        <h5><a href="single.html" th:href="@{/page/single}">Standard chunk</a></h5>
                        <div class="white">
                            <a href="single.html" th:href="@{/page/single}" class="hvr-shutter-in-vertical hvr-shutter-in-vertical2">添加到购物车</a>
                            <p class="dollar"><span class="in-dollar">$</span><span>6</span><span>0</span></p>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="top-products">
            <div class="col-md-3 md-col">
                <div class="col-md">
                    <a href="single.html" th:href="@{/page/single}" class="compare-in"><img src="../static/images/pic8.jpg" alt=""/>
                        <div class="compare">
                            <span>Add to Compare</span>
                            <span>Add to Wishlist</span>
                        </div>
                    </a>
                    <div class="top-content">
                        <h5><a href="single.html" th:href="@{/page/single}">Classical Latin</a></h5>
                        <div class="white">
                            <a href="single.html" th:href="@{/page/single}" class="hvr-shutter-in-vertical hvr-shutter-in-vertical2">添加到购物车</a>
                            <p class="dollar"><span class="in-dollar">$</span><span>2</span><span>0</span></p>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 md-col">
                <div class="col-md">
                    <a href="single.html" th:href="@{/page/single}" class="compare-in"><img src="../static/images/pic9.jpg" alt=""/>
                        <div class="compare">
                            <span>Add to Compare</span>
                            <span>Add to Wishlist</span>
                        </div>
                    </a>
                    <div class="top-content">
                        <h5><a href="single.html" th:href="@{/page/single}">Standard chunk</a></h5>
                        <div class="white">
                            <a href="single.html" th:href="@{/page/single}" class="hvr-shutter-in-vertical hvr-shutter-in-vertical2">添加到购物车</a>
                            <p class="dollar"><span class="in-dollar">$</span><span>1</span><span>5</span></p>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 md-col">
                <div class="col-md">
                    <a href="single.html" th:href="@{/page/single}" class="compare-in"><img src="../static/images/pic10.jpg" alt=""/>
                        <div class="compare">
                            <span>Add to Compare</span>
                            <span>Add to Wishlist</span>
                        </div>
                    </a>
                    <div class="top-content">
                        <h5><a href="single.html" th:href="@{/page/single}">Simply random</a></h5>
                        <div class="white">
                            <a href="single.html" th:href="@{/page/single}" class="hvr-shutter-in-vertical hvr-shutter-in-vertical2">添加到购物车</a>
                            <p class="dollar"><span class="in-dollar">$</span><span>4</span><span>0</span></p>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 md-col">
                <div class="col-md">
                    <a href="single.html" th:href="@{/page/single}" class="compare-in"><img src="../static/images/pic11.jpg" alt=""/>
                        <div class="compare">
                            <span>Add to Compare</span>
                            <span>Add to Wishlist</span>
                        </div>
                    </a>
                    <div class="top-content">
                        <h5><a href="single.html" th:href="@{/page/single}">Popular belief</a></h5>
                        <div class="white">
                            <a href="single.html" th:href="@{/page/single}" class="hvr-shutter-in-vertical hvr-shutter-in-vertical2">添加到购物车</a>
                            <p class="dollar"><span class="in-dollar">$</span><span>2</span><span>9</span></p>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="footer" th:include="header::footer"></div>
</body>
</html>