<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="header::head"></head>
<section>
	<script>
		check = function () {
			if ($("#username").val()==""){
				alert("用户名不能为空！");
				return;
			}
			if ($("#email").val()==""){
				alert("邮箱不能为空！");
				return;
			}
			var email = $("#email").val();
			if (!email.match(/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/)){
				alert("邮箱格式不正确！");
				return;
			}
			if ($("#password").val()==""){
				alert("密码不能为空！");
				return;
			}
			if ($("#password").val()!= $("#re_password").val()){
				alert("两次输入的密码不一致！");
				$("#password").val("");
				$("#re_password").val("");
				return;
			}
			$.ajax({
				type:"post",
				url:"/fish/user/register",
				dataType:"json",
				data:{
					username:$("#username").val(),
					password:$("#password").val(),
					email:$("#email").val()
				},
				success:function (data) {
					if (data == null){
						alert("注册失败！请联系管理员...");
					}else {
						$.each(data,function (key,value) {
							$("#username").val("");
							$("#password").val("");
							$("#email").val("");
							$("#re_password").val("");
							alert(value);
						});
					}
					window.location.href == ("/fish/page/register");
				}
			});
		}
	</script>
</section>
<body>
  <!--header-->
  <div class="header" th:include="header::header"></div>
  <div class="container">
		<div class="account">
			<h2 class="account-in">账户</h2>
					<div>
						<span>用户名</span>
						<input type="text" name="username" id="username" required/>
					</div>
					<div>
						<span>邮件</span>
						<input type="text" name="email" id="email" required/>
					</div>
					<div>
						<span class="word">密码</span>
						<input type="password" name="password" id="password" required/>
					</div>
					<div>
						<span class="word">确认密码</span>
						<input type="password" name="re_password" id="re_password" required/>
					</div>
						<input type="submit" value="注册" th:onclick="'javascript:check()'">
		</div>
	</div>
  <div class="footer" th:include="header::footer"></div>
</body>
</html>